packages/
src/Service.ContractModels/obj/Service.ContractModels.csproj.nuget.g.props
src/Service.Types/obj/Debug/netcoreapp2.0/Service.Types.csproj.FileListAbsolute.txt
src/Service.Types/obj/Service.Types.csproj.nuget.g.targets
src/Service.Types/obj/Service.Types.csproj.nuget.g.props
src/Service.Tests/obj/Debug/netcoreapp2.0/Service.Tests.csproj.FileListAbsolute.txt
src/Service.Tests/obj/Debug/netcoreapp2.0/Service.Tests.csproj.CopyComplete
src/Service.Tests/obj/Service.Tests.csproj.nuget.g.targets
src/Service.Tests/obj/Service.Tests.csproj.nuget.g.props
src/Service.Repositories/obj/Debug/netcoreapp2.0/Service.Repositories.csproj.FileListAbsolute.txt
src/Service.Repositories/obj/Debug/netcoreapp2.0/Service.Repositories.csproj.CopyComplete
src/Service.Providers/obj/Debug/netcoreapp2.0/Service.Providers.csproj.FileListAbsolute.txt
src/Service.Providers/obj/Debug/netcoreapp2.0/Service.Providers.csproj.CopyComplete
src/Service.Host/obj/Debug/netcoreapp2.0/Service.Host.csproj.FileListAbsolute.txt
src/Service.Host/obj/Debug/netcoreapp2.0/Service.Host.csproj.CopyComplete
src/Service.EntityModels/obj/Debug/netcoreapp2.0/Service.EntityModels.csproj.FileListAbsolute.txt
src/Service.EntityModels/obj/Debug/netcoreapp2.0/Service.EntityModels.csproj.CopyComplete
src/Service.ContractModels/obj/Debug/netcoreapp2.0/Service.ContractModels.csproj.FileListAbsolute.txt
src/Service.ContractModels/obj/Debug/netcoreapp2.0/Service.ContractModels.csproj.CopyComplete
src/Service.Api/obj/Debug/netcoreapp2.0/Service.Api.csproj.FileListAbsolute.txt
src/Service.Api/obj/Debug/netcoreapp2.0/Service.Api.csproj.CopyComplete
src/Service.Tests/bin/
src/Service.Tests/obj/
src/Service.Types/obj/
src/Service.Types/bin/
src/Service.Providers/obj/
src/Service.Providers/bin/
src/Service.Host/obj/
src/Service.Host/bin/
src/Service.Api/bin/
src/Service.Api/obj/
src/Service.EntityModels/bin/
src/Service.EntityModels/obj/
src/Service.Repositories/bin/
src/Service.Repositories/obj/
